body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
}

nav ul {
    display: flex;
    font-size: 1.3em;
}

nav li {
    list-style: none;
    padding-left: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.font {
    font-weight: 800;
}

nav li a:hover {
    color: aqua;
}

section {
    display: flex;
    margin: 0 90px;
}

.half {
    width: 50%;
    padding: 0 80px;
}

.half img {
    width: 70%;
    padding: 0 80px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 15px;
    font-size: 1.3em;
    border-radius: 15px;
}

.logo {
    justify-content: center;
}

.logo img {
    padding: 5px 35px;
}


/*container*/

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0 230px;
}

.item .fram img {
    width: 300px;
    height: 256px;
}

.rate {
    display: flex;
    align-items: center;
}

.fa-star.fill {
    color: #FB8200;
}

.fa-star.empty {
    color: rgba(218, 144, 34, 0.514);
}

.end {
    background-color: #0A0826;
    color: white;
    text-align: center;
}

.head {
    text-align: center;
    font-size: 3em;
}